body {
	background-color: #FFFFFF;
	font-family: sans-serif;
	color: black;
}
div {
	cursor: pointer;
}
p {
	font-size: larger;
}
a {
	text-decoration: none;
}
.menu {
	border-style: solid;
	border-width: 1px;
	border-color: darkgray;      
	Opacity: 1;
}
.busca {
	border-style: none;
	border-width: 1px;
	border-color: darkgray;
	cursor: pointer;
	background-color: white;
	outline: none;
	appearance: none;
	font-size: large;
	width: 100%;
}
.div_node {
	border-style: solid;
	border-width: 1px;
	border-color: darkgray;
	padding: 20px;
	margin : 20px;
	cursor: pointer;
}
.ul_menu {
	list-style-type: none;
	font-size: large;
	padding-left: 0px;
}
.li_menu {
	list-style-type: none;
}
.li_menu_in {
	list-style-type: none;
	padding-left: 20px;
}
.li_menu_in_sel {
	list-style-type: none;
	color :  #0084B4;
	padding-left: 20px;
}
@media screen and (min-width: 600px) {
	.div_head {
		margin-left: 15%;
		margin-right: 15%;
	}
	.li_menu_in, .li_menu_in_sel  {
		padding-left: 30px!important;
	}	

}
